.store{
  background-color: #FF92E0;
  width: 260px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.storeLoc{
  font-family: 'Inria Sans';
  font-size: 16px;
  margin-top: 5px;
  filter:brightness(43%);
  color: #5E5E5E;
}

body{
  max-width: 100%;
  background-color: white;
  font-family:'Inria Sans';
}

.background{
  opacity: .5;
}

.backToSearch{
  width: 130px;
  height: 30px;
  background-color: #B192FF;
  opacity: 200%;
  border-radius: 10px;
  font-family: 'Inria Sans';
  font-size: 16px;
  filter:brightness(100%);
}
.backToSearch:hover{
  border: black solid 1px;
}

.buttonText{
  margin-left: 5px;
  filter:brightness(43%);
  color: #5E5E5E;
}

.map{
  height: 65%;
  width: 70%;
  background-color: #D9D9D9;
  opacity: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
  position: absolute;
  margin-top: 15%;
  left: 50%;
  bottom: 130px;
  transform: translate(-50%, -10%);
  margin: 0 auto;
}

.mapBox{
  border-style: solid;
  height: 90%;
  width: 95%;
  /* margin: auto; */
  margin-left: 2.5%;
  margin-top: 2%;
}

.results{
  height: 16%;
  border: black solid 1px;
  width: 50%;
  background-color: #D9D9D9;
  opacity: 100%;
  border-radius: 10px;
  /*box-shadow: 1px 1px 1px;*/
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, 10%);
  margin: 0 auto;
}

.waypointA{
  height: 10px;
  width: 10px;
  border: black solid 0px;
  margin-top: 10%;
  margin-left: 5%;
}


.gg-pinA {
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs,2));
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px
}
.gg-pinA::before {
  transform: rotate(-45deg);
  content: "A";
  bottom: 0px;
  left: 2px;
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.waypointB{
  height: 10px;
  width: 10px;
  border: black solid 0px;
  margin-top: 10%;
  margin-left: 15%;
}


.gg-pinB {
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs,2));
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px
}
.gg-pinB::before {
  transform: rotate(-45deg);
  content: "B";
  bottom: -1px;
  left: 2px;
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.waypointC{
  height: 10px;
  width: 10px;
  border: black solid 0px;
  margin-top: 5%;
  margin-left: 25%;
}


.gg-pinC {
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs,2));
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px
}
.gg-pinC::before {
  transform: rotate(-45deg);
  content: "C";
  bottom: -1px;
  left: 2px;
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.waypointD{
  height: 10px;
  width: 10px;
  border: black solid 0px;
  margin-top: 5%;
  margin-left: 5%;
}


.gg-pinD {
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs,2));
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px
}
.gg-pinD::before {
  transform: rotate(-45deg);
  content: "D";
  bottom: 0px;
  left: 2px;
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.waypointE{
  height: 10px;
  width: 10px;
  border: black solid 0px;
  margin-top: 5%;
  margin-left: 55%;
}


.gg-pinE {
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs,2));
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px
}
.gg-pinE::before {
  transform: rotate(-45deg);
  content: "E";
  bottom: -1px;
  left: 2px;
  display: block;
  box-sizing: border-box;
  position: absolute;
}

input[type=button]{

    width: 130px;
    height: 30px;
    background-color: #B192FF;
    opacity: 200%;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-size: 16px;
    filter:brightness(100%);
  
}
