main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 48px;
    position: relative;
}
input{
    border: 2px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 3rem;
    width: 30%;
    font-size: large;
}

input:focus{
    
    outline: none !important;
}
select{
    margin-right: 0;
}

button{
    margin: 2rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(139, 139, 224);
    width: 10rem;
    height: 2rem;
    color: white;
    font-size: large;
}
button:hover {
    border: blue 2px solid;
}
#error-message.shown{
    position: fixed;
    bottom: 4rem;
    font-size: large;
    color: red;
    display: block;
}
#error-message.hidden{
    position: fixed;
    display: none;
}