body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    border: 2px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

input::focus{
    outline: none
}