body{
    max-width: 100%;
    background-color: white;
    font-family:'Inria Sans';
}

.background{
    opacity: .5;
}

.store{
    background-color: #FF92E0;
    width: 260px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
    position: absolute;
    right: 8px;
    top: 8px;
}

.storeLoc{
    font-family: 'Inria Sans';
    font-size: 16px;
    margin-top: 5px;
    filter:brightness(43%);
    color: #5E5E5E;
}

.results{
    height: 250px;
    width: 800px;
    background-color: #D9D9D9;
    opacity: 100%;
    border-radius: 10px;
    /*box-shadow: 1px 1px 1px;*/
    position: fixed;
    left: 50%;
    bottom: -115px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.map{
    height: 300px;
    width: 600px;
    background-color: #D9D9D9;
    opacity: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
    position: fixed;
    left: 50%;
    bottom: 130px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.mapBox{
    border-style: solid;
    height: 250px;
    width: 550px;
    margin: auto;
    margin-top: 25px;
}

.backToSearch{
    width: 130px;
    height: 30px;
    background-color: #B192FF;
    opacity: 200%;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-size: 16px;
    filter:brightness(100%);
}
.backToSearch:hover{
    border: black solid 1px;
}

.buttonText{
    margin-left: 5px;
    filter:brightness(43%);
    color: #5E5E5E;
}

.result1{
    width: 800px;
    height: 50px;
    /*border-radius: 10px;
    border-style: solid;*/
    border-bottom-style: solid;
    border-top-style: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-right-style: none;
    border-left-style: none;
    border-color: #000000;
    background-color: #D9D9D9;
}
.result1:hover{
    border: black solid 1px;
}
.result2{
    width: 800px;
    height: 50px;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-color: #000000;
    background-color: #D9D9D9;
}
.result2:hover{
    border: black solid 1px;
}
.result3{
    width: 800px;
    height: 50px;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-color: #000000;
    background-color: #D9D9D9;
}
.result3:hover{
    border: black solid 1px;
}
.result4{
    width: 800px;
    height: 50px;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-color: #000000;
    background-color: #D9D9D9;
}
.result4:hover{
    border: black solid 1px;
}
.result5{
    width: 800px;
    height: 48px;
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-color: #000000;
    background-color: #D9D9D9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 1px;
}
.result5:hover{
    border: black solid 1px;
}

#arrow{
    float: right;
}

#items{
    float: left;
    margin-left: 50px;
    margin-top: 4px;
    -webkit-text-stroke: 1px #92E0FF;
    font-family: 'Inria Sans';
    font-size: 15.98px;
    color: #000000;
}

#loc{
    margin-left: 200px;
    margin-top: 4px;
    font-family: 'Inria Sans';
    font-size: 15.98px;
    color: #000000;
    -webkit-text-stroke: 1px #FF92E0;
}

.waypointA{
    height: 10px;
    width: 10px;
    border: black solid 0px;
    margin-top: 10%;
    margin-left: 5%;
}


.gg-pinA {
    box-sizing: border-box;
    background-color: pink;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px
  }
  .gg-pinA::before {
    transform: rotate(-45deg);
    content: "A";
    bottom: 0px;
    left: 2px;
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

.waypointB{
    height: 10px;
    width: 10px;
    border: black solid 0px;
    margin-top: 10%;
    margin-left: 15%;
}


.gg-pinB {
    box-sizing: border-box;
    background-color: pink;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px
  }
  .gg-pinB::before {
    transform: rotate(-45deg);
    content: "B";
    bottom: 0px;
    left: 2px;
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

.waypointC{
    height: 10px;
    width: 10px;
    border: black solid 0px;
    margin-top: 5%;
    margin-left: 25%;
}


.gg-pinC {
    box-sizing: border-box;
    background-color: pink;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px
  }
  .gg-pinC::before {
    transform: rotate(-45deg);
    content: "C";
    bottom: -1px;
    left: 2px;
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

.waypointD{
    height: 10px;
    width: 10px;
    border: black solid 0px;
    margin-top: 5%;
    margin-left: 5%;
}


.gg-pinD {
    box-sizing: border-box;
    background-color: pink;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px
  }
  .gg-pinD::before {
    transform: rotate(-45deg);
    content: "D";
    bottom: 0px;
    left: 2px;
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

.waypointE{
    height: 10px;
    width: 10px;
    border: black solid 0px;
    margin-top: 5%;
    margin-left: 55%;
}


.gg-pinE {
    box-sizing: border-box;
    background-color: pink;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px
  }
  .gg-pinE::before {
    transform: rotate(-45deg);
    content: "E";
    bottom: -1px;
    left: 2px;
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

  .mapBox img{
      width: 80%;
      margin-left: 10%;
  }